.gallery { 
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: 15rem;
    grid-auto-flow: dense;
}

.video {
    grid-column: span 2;
}
div.nombre {
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
}
div.video-info {
    padding-left: 1rem;
    font-size: 0.9rem;
}
.card {
    border: none;
}